<!DOCTYPE html>
<html>
<!-- head -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>文档标题</title>
	<meta name="description" content="页面描述" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<!-- head -->
<body>
<div class="main">
	<!-- header stars -->
	<header class="main-hd personal-hd">
		<h2 class="main-hd-bt">健康问答</h2>
		<a href="index.html" class="return-index">首页</a>
		<div class="hd-right">
			<span>欢迎XX</span>
			<div class="personal">
				<a href="javascript:;" class="personal-btn"></a>
				<i class="i-ts i-ts-show"></i>
				<div class="personal-box">
					<div class="triangle-up"></div>
					<ul class="personal-list">
						<li><a href="#"><i class="per-iocn fore3"></i>久久健康首页</a></li>
						<li><a href="#"><i class="per-iocn fore2"></i>我的提问<span>2</span></a></li>
						<li><a href="#"><i class="per-iocn fore4"></i>系统消息<span>1</span></a></li>
						<li><a href="#"><i class="per-iocn fore5"></i>修改密码</a></li>
						<li><a href="#">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- header ends -->
	<!-- 主内容 stars -->
	<section class="main-bd">
		<!-- lanmuye start -->
		<div class="touch-nav">
			<i class="left-icon"></i>
			<i class="right-icon"></i>
			<div class="touch-box">
				<ul class="cfx">
					<li class="current"><a href="#">准备怀孕</a></li>
					<li><a href="#">怀孕期</a></li>
					<li><a href="#">分娩</a></li>
					<li><a href="#">产后护理</a></li>
					<li><a href="#">准备怀孕</a></li>
					<li><a href="#">怀孕期</a></li>
					<li><a href="#">分娩</a></li>
					<li><a href="#">产后护理</a></li>
				</ul>
			</div>
		</div>
		<div class="nav-border"></div>
		<div class="lanmuye pdlf25">
			<div class="lmy-top cfx">
				<ul>
					<li>
						<a href="#">
							<div class="lmyimgbox">
								<img src="/temps/02.jpg" alt="">
							</div>
							<span>这一天同房就怀孕</span>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="lmyimgbox">
								<img src="/temps/02.jpg" alt="">
							</div>
							<span>这一天同房就怀孕</span>
						</a>
					</li>
				</ul>
			</div>
			<ul class="mm-list">
			   	<li><a href="/channel/show">正气存内邪不可干 胡萝卜大战感冒</a></li>
			   	<li><a href="#">肺心病患者，一定要注意预防感冒 </a></li>
			   	<li><a href="#">今秋多吃粗粮有效治疗感冒咳嗽</a></li>
			   	<li><a href="#">除了维C银翘片就没有其他便宜感冒药？</a></li>
			   	<li><a href="#">感冒错误用药解读</a></li>
			   	<li><a href="#">儿童脑炎的早期症状类似感冒？</a></li>
			</ul>
			<div class="Healthy-link"><a href="#">查看更多</a></div>
			<h2 class="m-title"><span>母婴问答</span></h2>
		    <ul class="mm-list ask">
			   	<li><a href="#">糖友 您心灵“感冒”了吗？</a></li>
			   	<li><a href="#">感冒埋下心肌炎种子 </a></li>
			   	<li><a href="#">别把心肌炎当成感冒 </a></li>
			   	<li><a href="#">感冒为何会引起心肌炎？ </a></li>
			   	<li><a href="#">别把心肌炎当成感冒</a></li>
		   	</ul>
		    <div class="Healthy-link want-ask"><a href="#">我要提问</a></div>
		</div>
		<!-- lanmuye end -->
	</section>
	<!-- 主内容 ends -->
	<!-- footer stars -->
	<footer class="main-ft">
		<div class="ft-nav">
			<a href="#">首页</a>
			<a href="#">联盟</a>
			<a href="#">伙伴</a>
			<a href="#">友链</a>
			<a href="#">联系我们</a>
			<a href="#">意见反馈</a>
		</div>
		<div class="ft-terminal">
			<a href="#">触屏版</a>
			<a href="#">电脑版</a>
			<a href="#">客户端下载</a>
			<a href="#">微信</a>
		</div>
		<div class="ft-copyright">京ICP备09011420号 <br>久久健康网 <a href="m.9939.com">m.9939.com</a></div>
	</footer>
	<!-- footer ends -->
</div>
</body>
<script type="text/javascript" src="/js/sea.js"></script>
<script type="text/javascript">
    seajs.use("play.js")
</script>
</html>